<!DOCTYPE html>
<html>
    <head>
        <title>Bake!</title>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
    </head>
    <body>
        <h1>Hello Pierre! What would you like to do today?</h1>
        <a href="/places/new">View Vendors</a>
        <a href="/places">View Orders</a>
    </body>
</html>