<!DOCTYPE html>
<html>
    <head>
        <title>Bake!</title>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
    </head>
    <body>
        <h1>Hello Pierre! What would you like to do today?</h1>

        <a href="/vendors/new">Click here to add a new vendor</a> 

        <a href='/vendors'>See your list of vendors</a>
        
    </body>
</html>